<%- include("partials/header.ejs") %>

<div class="editbook my-5">
    <div class="edit-book-form mx-5">
        <h1>Edit Book</h1>
        <form action="/edit" method="post" class="my-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTitle" name="title" value="<%= book.book_name %>">
                <label for="floatingTitle">Book Title</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAuthor" name="author" value="<%= book.book_author %>">
                <label for="floatingAuthor">Author</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingRating" name="rating"
                min="0" max="5" step="0.1" value="<%= book.rating %>">
                <label for="floatingRating">Rating (max 5)</label>
              </div>
              <div class="form-floating mb-3">
                <textarea placeholder="Leave a review" class="form-control" id="floatingReview" name="review" maxlength="250"><%= book.review %></textarea>
                <label for="floatingReview">Review (max 250 char)</label>
              </div>
              <input type="hidden" name="bookid" value="<%= book.id %>">
              <button class="btn btn-success" type="submit">Edit Book</button>
        </form>
    </div>
    <div class="book-edit mx-5 px-5">
        <img src="/images/book_edit.jpg" alt="">
    </div>
</div>


<%- include("partials/footer.ejs") %>